

# --- General Env ---
env_name: "Hopper-v5"
env_is_atari: false
env_is_mujoco: true
n_stack: 0

# --- Training Parameters ---
train:
  algo: "PPO"
  run_id: "0" # for tensorboard logging
  policy: "default" # either "own" or "default"
  n_envs: 8 # Default number of parallel environments
  n_steps: 2048 # Following the 37 implementation details of Proximal Policy Optimization
  batch_size: 512 # They say batch size nminibatches = 32 so 8 x 2048 / 32 = 512
  n_opt_epochs: 10 
  total_timesteps: 5000000
  ent_coef: 0.00 # Again following the 37 implementation details of Proximal Policy Optimization for mujoco
  decay_lr: true # And same again
  decay_lr_init: 3e-4 # And same again
  clip_epsilon: 0.2 # This should be their cliprange=0.1 and strangle not equal to 0.2 as is common
  fr_tau_penalty: 0.01
  fr_scale_by_adv: true
  force_cpu: false

# --- Logging & Saving ---
logging:
  log_dir: "./logs_hopper/"
  name_prefix: "ppo_hopper_latest"
  checkpoint_save_freq: 10000 # OverwriteCheckpointCallback save frequency

# --- Visualization ---
visualize:
  video_folder: "videos_hopper/"
  deterministic: true
