

# --- General Env ---
env_name: "Hopper-v5"
env_is_atari: false
env_is_mujoco: true
n_stack: 0

# --- Training Parameters ---
train:
  algo: "FRPPO"
  run_id: "0" # for tensorboard logging
  policy: "default" # either "own" or "default"
  n_envs: 1 # Recommended for Mujoco
  n_steps: 2048 # Following the 37 implementation details of Proximal Policy Optimization
  batch_size: 512 # They say batch size nminibatches = 32 so 1 x 2048 / 32 = 64
  n_opt_epochs: 10 
  total_timesteps: 20000
  ent_coef: 0.05 # Again following the 37 implementation details of Proximal Policy Optimization for mujoco
  decay_lr_init: 3e-4 # And same again
  decay_lr_final_frac: 0.0 # This decays all the way to 0 rate at the end, ... 37 implementation details same again
  clip_epsilon: 0.2 # This should be their cliprange=0.2 and now equal to 0.2 as is common
  fr_tau_penalty: 0.01
  fr_scale_by_adv: "up_and_down"
  force_cpu: false

# --- Logging & Saving ---
logging:
  log_dir: "./logs_dbg_hopper/"
  name_prefix: "ppo_hopper_latest_dbg"
  checkpoint_save_freq: 10000 # OverwriteCheckpointCallback save frequency

# --- Visualization ---
visualize:
  video_folder: "videos_hopper/"
  deterministic: true

optuna:
  sampler: "TPESampler" # another option is GPSampler
  n_runs_per_setting: 2 # for averaging
  n_startup_trials: 2 # How many purely random samples should be made
  n_trials_per_worker: 4 # Number of optimization trials
  #storage: "sqlite:///optuna_study_ppo_hoppper_dbg.db" # Database for persistent storage
  storage: "postgresql://optuna_user:KcOrES8EYJwaCN7n@localhost/optuna_db"
  study_name: ppo_hopper_hparams_dbg1
  #storage: "sqlite:///:memory:"
  
  
  # Define the search space for your hyperparameters
  search_space:
    learning_rate_log: [3e-5, 3e-4] # log uniform search for PPO/FRPPO LR
    total_timesteps_pow10: [3, 5] # power of 10
    decay_lr_final_frac: [0.0, 1.0]
    # ent_coef_uniform: [0.0001, 0.1] # uniform search for entropy coefficient
    # For FRPPO only
    fr_tau_penalty_uniform: [0.01, 0.5]
    # For PPO only
    clip_epsilon_uniform: [0.01,0.99]